html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/style.css")
    body    
        .index-container 
            .header 
                .logo 
                    img(src="/images/pet-resort-logo.webp", alt="logo")
                    h1 Pet Resort
                .nav 
                    ul 
                        li #[a(href="index.html") Home]
                        li #[a(href="about.html") About]
                        li #[a(href="rooms.html") Rooms]
            .card.main 
                h2 Pet Resort
                p Where pets are royalty 
            .card.partners 
                h2 Partners 
                p We partner with many influental companies to bring your pet the best experience possible.
                .partner-img-box 
                    img(src="/images/logo-activision.webp", alt="")
                    img(src="/images/logo-AstraZeneca.webp", alt="")
                    img(src="/images/logo-chatgpt.webp", alt="")
                    img(src="/images/logo-fedex.webp", alt="")
                    img(src="/images/logo-gucci.webp", alt="")
                    img(src="images/logo-lego.webp", alt="")
                    img(src="images/logo-paypal.webp", alt="")
            .card.offer 
                img.offer-img(src="/images/groomin.webp", alt="")
                .offer-content 
                    h2 October Grooming 
                    p  Get your best friend ready for a total make-over while at the same time being spoilt silly
                    a.btn(href="") Book grooming
            .card.merch 
                img.card.img(src="/images/dog-wear.webp", alt="")
                h2 Merch 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                a.btn(href="") Boka
            .card.buddies 
                img.card-img(src="/images/4dogs.webp", alt="")
                h2 Buddies for life 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                a.btn(href="") Boka
            .card.dining
                img.card.img(src="/images/ritz.webp", alt="")
                h2 Dining
                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                a.btn(href="") Boka